version: '3.8'

services:
  worker:
    build:
      context: ../../
      dockerfile: apps/worker/Dockerfile
    image: home_os-worker:dev
    container_name: home_os-worker-dev
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
