name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10.9.0

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm test:unit
      - run: pnpm build

      - run: pnpm start &
      - run: pnpm exec wait-on http://localhost:3000

      - run: pnpm exec playwright install --with-deps

      - env:
          PLAYWRIGHT_BASE_URL: http://localhost:3000
        run: pnpm test:e2e

      - name: 'notify vercel'
        uses: 'vercel/repository-dispatch/actions/status@v1'
        with: 
          name: 'Vercel - home_os: test'